@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
/* attribute 이름 정해서 바꿀수 있음  |= *= ~= 등등 ===================== */
body {
  font-size: 1.5rem;
  /* 문장 길이 똑같이 함 */
  text-align: justify;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}
table {
  /*  옆에 다닥다닥 붙음  */
  display: inline;
}

h1,
td {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
}
nav {
}

a {
  text-decoration: none;
  color: darkslategray;
}

p {
  font-size: 1.5rem;
}

img[class|="nav__logo"] {
  width: 300px;
}

.kr {
  font-family: "Single Day", cursive, sans-serif;
}

.nav__link-container {
  background: radial-gradient(circle, white 20%, pink 30%);
  padding: 2rem;
}

.nav__main__links {
  margin-left: 2rem;
}

.nav__burger-icon__lines-dummy {
  margin: 0 auto;
  height: 400px;
  width: 80%;
  background-image: url("https://assets.website-files.com/5e08c3c8edb7545544a00312/5e2c66ad86f417560716e602_starbicycle-biketypen-mtb-thumb.jpg");
  background-repeat: no-repeat;
  background-size: 100% 70%; /* 문장 길이 똑같이 함 */
}
.float {
  /*  float  밑에 있는게 위로 올라감 */
  float: right;
  width: 500px;
  margin: 0 20px;
}
.objectfitimg {
  width: 20rem;
}

.utility__linkblock__arrow {
  width: 100px;
}
.contactblock__icon {
  width: 200px;
}

/* Flex 부모에 하는 게 많음*/

.bloglist__wrapper {
  display: flex;
  background: linear-gradient(to bottom, pink, lightblue);
  /* 위치 반대방향으로 */
  /* flex-direction: row-reverse; */

  /* flex-wrap: wrap; */
  /* 양갈래로 마진  */
  justify-content: space-around;
  align-items: stretch;
}

.bloglist__wrapper:nth-child(1) {
  flex: 5 0 100px;
}
.bloglist__wrapper:nth-child(2) {
  flex: 1 0 100px;
}
.bloglist__wrapper:nth-child(3) {
  flex: 1 0 100px;
}

/* Flex.html */

.flex-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  background: lightcoral;
  width: 100px;
  margin: 10px;
  text-align: center;

  /*  한줄 자리 글자 세로 중간 정렬 */
  height: 50px;
  line-height: 49px;
}

/* Grid  히어로 강의 */
.grid-container {
  background-color: aquamarine;
  min-height: 300px;
  display: grid;
  /*  사이즈  */
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 50px;
  /* <----- 이것도 쓸스 있고 justify-items:쓸수도 있음  ------> */
  /* justify-content: space-evenly; */
  /* justify-content: end; */
  /* justify-content: end; */
  /* align-content: space-between; */
  align-content: end;
  grid-gap: 200px 200px;
}
.grid-item {
  color: aliceblue;
  background-color: black;
  width: 50px;
  text-align: center;
  line-height: 49px;
  margin: 10px;
}

/* Grid  히어로 강의 */
.grid-container2 {
  background-color: plum;
  min-height: 300px;
  display: grid;
}

.grid-item2 {
  color: black;
  background-color: white;
  width: 50px;
  text-align: center;
  line-height: 49px;
}

/* Transition */
.transiton {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem;
}
.transiton :nth-child(1) {
  /* 마지막꺼는 딜레이 */
  background: plum;
  transition: background 1s ease 1s;
}
.transiton :nth-child(1):hover {
  background: rgb(79, 194, 230);
  cursor: pointer;
}
.transiton :nth-child(2) {
  background: dodgerblue;
  transition: all 200ms ease;
}
.transiton :nth-child(2):hover {
  /*  툭 튀어나오는 느낌 */
  cursor: pointer;
  padding: 20px 30px;
}

/* Transformation */

.transiton :nth-child(3) {
  background: lightseagreen;
  /* 위치 */
  transform: translate(100px, 10px); /* (x,y) */
}
.transiton :nth-child(3):hover {
  cursor: pointer;
}
.transiton :nth-child(4) {
  background: rgb(224, 199, 10);
  transition: all 200ms ease;
}
.transiton :nth-child(4):hover {
  cursor: pointer;
  /* 덮어버림  */
  transform: scale(2.5); /* (x,y) */
}
.transiton :nth-child(5) {
  background: yellowgreen;
  transition: all 200ms ease;
  transform: rotate(-45deg);
}
.transiton :nth-child(5):hover {
  cursor: pointer;
}
.transiton :nth-child(6) {
  background: palevioletred;
  transition: all 200ms ease;
  animation: translate-color 5s linear -2s infinite alternate;
}
.transiton :nth-child(6):hover {
  cursor: pointer;
}
.transiton :nth-child(7) {
  background: gold;
  transition: all 200ms ease;

  transform: matrix(2, 1, 1, 2, 1, 1);
  /* (x크기,x앵글,y크기 y앵글) */
}
.transiton :nth-child(7):hover {
  cursor: pointer;
}

@keyframes translate-color {
  0% {
    background: black;
    transform: translate(0px, 0px);
  }
  50% {
    background: yellow;
    transform: translate(30px, 30px);
  }
  100% {
    background: red;
    transform: translate(50px, 50px);
  }
}
